# dependencies
node_modules/

# environment variables
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build output
dist/
build/

# optional (lock file depends on your preference)
# package-lock.json

# IDE
.vscode/
.idea/